#home {
  background-image: url("../images/meme2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.start {
  text-align: center;
  background-color: brown;
  padding: 50px;
}

.pig {
  color: black;
  text-align: left;
  font-weight: bold;
}
.game{
  background-color: #821818;
  padding: 80px;
  color: black;
}
label{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
