#home {
  background-image: url("../images/dice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.start {
  text-align: center;
  background-color: #495057;
  padding: 60px;
}

.pig {
  color: navajowhite;
  text-align: left;
  font-weight: bold;
}
.game{
  background-color: #495057;
  padding: 80px;
  color: black;
}
label{
  color: navajowhite;
  font-weight: bold;
  font-size: 20px;
}
#new-players{
  display: none;
}
.player1-victory{
  display: none;
}
.player2-victory{
  display: none;
}
